@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0c0d0e;

    --card: #ffffff;
    --card-foreground: #0c0d0e;

    --popover: #ffffff;
    --popover-foreground: #0c0d0e;

    --primary: #1a1b30;
    --primary-foreground: #d1e4ff;

    --secondary: #f1f5ff;
    --secondary-foreground: #1a1b30;

    --muted: #f1f5ff;
    --muted-foreground: #767a85;

    --accent: #f1f5ff;
    --accent-foreground: #1a1b30;

    --destructive: #ff6f6f;
    --destructive-foreground: #d1e4ff;

    --border: #dae0ff;
    --input: #dae0ff;
    --ring: #0c0d0e;

    --radius: 0.5rem;
  }

  .dark {
    --background: #0c0d0e;
    --foreground: #d1e4ff;

    --card: #0c0d0e;
    --card-foreground: #d1e4ff;

    --popover: #0c0d0e;
    --popover-foreground: #d1e4ff;

    --primary: #d1e4ff;
    --primary-foreground: #1a1b30;

    --secondary: #2a3248;
    --secondary-foreground: #d1e4ff;

    --muted: #2a3248;
    --muted-foreground: #a4aab2;

    --accent: #2a3248;
    --accent-foreground: #d1e4ff;

    --destructive: #993d3d;
    --destructive-foreground: #d1e4ff;

    --border: #2a3248;
    --input: #2a3248;
    --ring: #94a3b8;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
